{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PCKING</title>
        <link rel="shortcut icon" href="{% static 'App1/assets/1.jpg' %}" type="">
        <link rel="stylesheet" href="{% static 'App1/css/styles.css' %}">
    </head>
 <body>
    <header>
        <h1>PCKING</h1>
     <nav class="BARRA">
        <ul>
            <li>CONTACTO</li>
            <li>¿QUIENES SOMOS?</li>
            <li>REGISTRARSE</li>
            <li>INICIAR SESION</li>
        </ul>
        </nav>
 </header>
        <nav class="NAVEGACION">
            <main>
                    <nav class="PRODUCTOS">
                        <nav class="COMPU1">
                            <h2>ESTANDAR</h2>
                        </nav>  
                        <nav class="COMPU2">
                            <h2>GOLD</h2>
                        </nav>
                        <nav class="COMPU3">
                            <h2>KING</h2>
                        </nav>
                    </nav>     
            </main> 
        </nav>
    </body>

</html>