{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCKING</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'App1/css/styles.css' %}">
</head>
<body>
        <h1>PCKING</h1>
        <nav class="Navegacion">
            <h3>
                <ul>
              
                </ul>
            </h3>
        </nav>
                <main>
                    <nav class="PRODUCTOS">
                        <nav class="COMPU1">
                            <h2>ESTANDAR</h2>
                        </nav>  
                        <nav class="COMPU2">
                            <h2>GOLD</h2>
                        </nav>
                        <nav class="COMPU3">
                            <h2>KING</h2>
                        </nav>
                    </nav>     
                </main> 
        </nav>
</body>

</html>